// Style Guide
// Colors
$gradient-blue: rgba(183, 217, 254, 0.8);
$gradient-red: rgba(253,208,208,.45);
$main-text-gray: #3D3D3D;
$secondary-text-gray: #666666;
$tertiary-text-gray: #A1A1A1; 
$red-accent: #EB5757;
$blue-accent: #2D9CDB;
$dark-gray: #15171A;
$mid-gray: #738a94;
$light-gray: #c5d2d9;
$soft-white: #f4f8fb;

// Media Query Breakpoints
$tablet-screen-breakpoint: 900px;
$mobile-screen-breakpoint: 600px;

// Font Size
$default-unit: 1rem;
